<a href="https://colab.research.google.com/github/jadsondev01/exercicios-phyton/blob/main/Exercicios_opera%C3%A7%C3%B5es_matematicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Olá ,Mundo')

Olá ,Mundo

In [2]:
num=input("digite um numero ")
print(f"seu numero é {num}")

digite um numero 2
seu numero é 2

In [7]:
Strin_01 =input("Digite seu primeiro nome:")
Strin_02 = input("Digite seu segundo nome:")
print(f"{Strin_01} {Strin_02}")

digite seu primeiro nome:jadson
diggite seu segundo nome:Luciano
 jadson Luciano

In [12]:
num1= int(input("Digite o 1 Numero:"))
num2= int(input("Digite o 2 Numero:"))
num3= int(input("Digite o 3 Numero:"))

print(f'{num1}+{num2}+{num3}={num1+num2+num3}')

Digite o 1 Numero:1
Digite o 2 Numero:25
Digite o 3 Numero:7
1+25+7=33

In [17]:
nota1= float(input('digite sua Primeira nota :'))
nota2= float(input('digite sua Segunda nota:'))

media = (nota1 +nota2) / 2

print(f"sua media é {nota1} e {nota2} dividido pela {media}" )

digite sua Primeira nota :10
digite sua Segunda nota:10
sua media é 10.0 e 10.0 dividido pela 10.0

In [9]:
num=float(input('Digite seu numero:  '))
print (f'A Raiz quadrada da seu numero é {num} é {num** (1/2)}')

Digite seu numero:  100
A Raiz quadrada da seu numero é 100.0 é 10.0

In [10]:
num1= float(input("Digite o 1 Numero:"))
num2= float(input("Digite o 2 Numero:"))
num3= float(input("Digite o 3 Numero:"))
num4= float(input("Digite o 3 Numero:"))
num5= float(input("Digite o 5 Numero:"))


media = (num1+num2+num3+num4+num5)/5
print(f'media {media}')

Digite o 1 Numero:2
Digite o 2 Numero:2
Digite o 3 Numero:2
Digite o 3 Numero:2
Digite o 5 Numero:2
media 2.0

In [12]:
num=float(input('digite o valor em metros: '))
print(f'{num} metros equivale a {num/1000} km' )

digite o valor em metros: 10
10.0 metros equivale a 0.01 km

In [16]:
from math import pi
raio=float(input('digite o valor do raio da circuferencia: '))
print(f'a area da circuferencia :{pi*raio**2:.2f}')

digite o valor do raio da circuferencia: 2
a area da circuferencia :12.57

In [17]:
f=float(input('Temperatura em Fahrenheit: \n'))
c=5*((f-32)/9)
print(f'{f:.2f}° F equivale a {c:.2f}° C .')

Temperatura em Fahrenheit:
10
10.00° F equivale a -12.22° C .

In [18]:
num1=float(input('Número 1: '))
num2=float(input('Número 2: '))
print(f'{num1}x{num2}={num1*num2}')
print(f'{num1}/{num2}={num1/num2}')

Número 1: 2
Número 2: 2
2.0x2.0=4.0
2.0/2.0=1.0

In [19]:
nome=input('Nome: ')
sobrenome=input('Sobrenome: ')
idade=int(input('Idade: '))
print(f'Seja bem-vindo {nome.strip().title()} {sobrenome.strip().title()}')
print(f'Você possui {idade} anos de idade.')

Nome: jadson
Sobrenome: luciano
Idade: 22
Seja bem-vindo Jadson Luciano
Você possui 22 anos de idade.

In [20]:
num=input('Digite um número:: ')
num=float(num)
print(type(num))

Digite um número:: 25
<class 'float'>

In [26]:
nome=input ('Digite seu nome: ')
idade = int(input('digite sua idade '))
if idade>= 18:
 print(f"Seja ben-vindo ao site xvideos  {nome.strip().title()}. ")
else:
  print(f"você não possui idade sufuciente para acessar esse site {nome.strip().title()}.")

Digite seu nome: jadson
digite sua idade 8
você não possui idade sufuciente para acessar esse site Jadson.

In [28]:
from math import hypot

cateto_a=float(input('Digite o Cateto Adjacente: '))
cateto_o=float(input('Digite o Cateto Oposto: '))

hipotenusa1=(cateto_a**2+cateto_o**2)**(1/2)  #forma de cálculo 1
hipotenusa2=hypot(cateto_a,cateto_o)  #forma de cálculo 2

print(f'Hipotenusa: {hipotenusa1}')
print(f'Hipotenusa: {hipotenusa2}')

Digite o Cateto Adjacente: 12
Digite o Cateto Oposto: 5
Hipotenusa: 13.0
Hipotenusa: 13.0

In [31]:
import math
num=int(input('Digite um número inteiro: '))
fatorial=math.factorial(num)
print(f'O fatorial de {num} é {fatorial}')

Digite um número inteiro: 10
O fatorial de 10 é 3628800

In [33]:
import math

num=float(input('Digite um número: '))
log1=math.log10(num)  #também podemos fazer: math.log(num,10)
log2=math.log(num,2)
print(f'O log de {num} na base 10 é {log1}')
print(f'O log de {num} na base 2 é {log2}')

Digite um número: 12
O log de 12.0 na base 10 é 1.0791812460476249
O log de 12.0 na base 2 é 3.5849625007211565

In [34]:
base=float(input('Digite a base do retângulo: '))
altura=float(input('Digite a altura do retângulo: '))

area=base*altura
perimetro=2*base+2*altura

print(f'O retângulo digitado tem base {base} e altura {altura}.')
print(f'A área deste retângulo é: {area}')
print(f'O perímetro deste retângulo é: {perimetro}')

Digite a base do retângulo: 12
Digite a altura do retângulo: 3
O retângulo digitado tem base 12.0 e altura 3.0.
A área deste retângulo é: 36.0
O perímetro deste retângulo é: 30.0

In [36]:
nome=input('Digite seu nome: ').strip().title()
sobrenome=input('Digite seu sobrenome: ').strip().title()
salario=float(input('Digite seu salário: '))
salario1=salario+salario*0.1  #salário com 10% de aumento
salario2=salario+salario*0.25  #salário com 25% de aumento
salario3=salario+salario*0.3  #salário com 30% de aumento
salario4=salario+salario*0.5  #salário com 50% de aumento

print(f'Olá, {nome} {sobrenome}')
print(f'Seu salário atual é: R$ {salario:.2f}')
print(f'Seu salário com 10% de aumento é: R$ {salario1:.2f}')
print(f'Seu salário com 25% de aumento é: R$ {salario2:.2f}')
print(f'Seu salário com 30% de aumento é: R$ {salario3:.2f}')
print(f'Seu salário com 50% de aumento é: R$ {salario4:.2f}')

Digite seu nome: Jadson
Digite seu sobrenome: Luciano
Digite seu salário: 2500
Olá, Jadson Luciano
Seu salário atual é: R$ 2500.00
Seu salário com 10% de aumento é: R$ 2750.00
Seu salário com 25% de aumento é: R$ 3125.00
Seu salário com 30% de aumento é: R$ 3250.00
Seu salário com 50% de aumento é: R$ 3750.00

In [37]:
num=int(input('Digite um número inteiro: \n'))
print(f'Tabuada do número: {num}')
print(f'{num} x 1 = {num*1}')
print(f'{num} x 2 = {num*2}')
print(f'{num} x 3 = {num*3}')
print(f'{num} x 4 = {num*4}')
print(f'{num} x 5 = {num*5}')
print(f'{num} x 6 = {num*6}')
print(f'{num} x 7 = {num*7}')
print(f'{num} x 8 = {num*8}')
print(f'{num} x 9 = {num*9}')
print(f'{num} x 10 = {num*10}')

Digite um número inteiro:
10
Tabuada do número: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [38]:
num=int(input('Digite um número inteiro: '))
print(f'O valor absoluto de {num} é {abs(num)}.')

Digite um número inteiro: 10
O valor absoluto de 10 é 10.

In [39]:
string=input('Digite algo: ')
print(f'Você digitou: {string}')
print(f'Quantidade de caracteres do que você digitou é: {len(string)}')

Digite algo: Jadsson
Você digitou: Jadsson
Quantidade de caracteres do que você digitou é: 7

In [41]:
num=int(input('Número inteiro: '))
if num%2==0:
    print(f'O número {num} é par.')
else:
    print(f'O número é {num} é ímpar.')

Número inteiro: 100
O número 100 é par.

In [42]:
print('Cálculo do IMC')
altura=float(input('Insira sua altura : \n'))
peso=float(input('Insira seu peso : \n'))
imc=peso/(altura*altura)  #poderíamos fazer peso/altura**2
print('Processando seus dados...')
if imc<17:
    print('Muito abaixo do peso.')
elif 17<=imc<18.5:
    print('Abaixo do peso.')
elif 18.5<=imc<25:
    print('Peso normal.')
elif 25<=imc<30:
    print('Acima do peso.')
elif 30<=imc<35:
    print('Obesidade Grau I.')
elif 35<=imc<40:
    print('Obesidade Grau II (severa).')
else:
    print('Obesidade Grau III (mórbida).')

Cálculo do IMC
Insira sua altura :
1.82
Insira seu peso :
126
Processando seus dados...
Obesidade Grau II (severa).

In [44]:
n1=float(input('Valor 1 : '))
n2=float(input('Valor 2 : '))
if n1>n2:
    print(f'{n1}>{n2}')
elif n1==n2:
    print(f'{n1}={n2}')
else:
    print(f'{n1}<{n2}')

Valor 1 : 10
Valor 2 : 5
10.0>5.0

In [45]:
num=float(input('Digite um número: '))
if num>0:
    print('Número positivo.')
elif num==0:
    print('Número nulo.')
else:
    print('Número negativo.')

Digite um número: 10
Número positivo.

In [46]:
numero1=float(input('Número 1: '))
numero2=float(input('Número 2: '))
numero3=float(input('Número 3: '))

if (numero1>=numero2) and (numero1>=numero3):
    print(f'Maior número: {numero1}')
elif (numero2>=numero1) and (numero2>=numero3):
    print(f'Maior número: {numero2}')
else:
    print(f'Maior número: {numero3}')

Número 1: 12
Número 2: 20
Número 3: 5
Maior número: 20.0

In [58]:
import random
num=random.randint(1,100)
print(num)

89

In [52]:
ano=int(input('Ano : '))
if ano%400==0 or (ano%4==0 and not ano%100==0):
    print('Ano bissexto.')
else:
    print('Ano não bissexto.')

Ano : 1998
Ano não bissexto.

In [53]:
string=input('Digite algo: ')
print(len(string))

Digite algo: jadson
6

In [56]:
import datetime

data_atual=datetime.datetime.now()
print(data_atual.strftime('%d/%m/%Y - %H:%M:%S'))

07/11/2023 - 16:13:10